@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@keyframes float {
    0% {
        transform: translateY(-20px) scale(1);
        opacity: 0.1;
    }

    50% {
        transform: translateY(20px) scale(1.05);
        opacity: 0.8;
    }

    100% {
        transform: translateY(-20px) scale(1);
        opacity: 0.1;
    }
}

@keyframes dash {
    to {
        stroke-dashoffset: -1000;
    }
}

.animate-float {
    animation-name: float;
}

.animate-dash {
    animation-name: dash;
}